odoo_test_helper
odoo-addon-stock_move_line_qty_picked @ git+https://github.com/OCA/stock-logistics-workflow.git@refs/pull/2058/head#subdirectory=stock_move_line_qty_picked
odoo-addon-stock_storage_type @ git+https://github.com/OCA/stock-logistics-putaway.git@refs/pull/8/head#subdirectory=stock_storage_type
